In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import plotly as py
import plotly.graph_objs as go
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans

In [8]:
df = pd.read_csv('classificacao.csv', delimiter=';')
df

   SextaSabado Faminto Clientes        Tipo Espera
0          Nao     Sim    Cheio   Tailandes    Nao
1          Sim     Nao    Cheio     Frances    Nao
2          Nao     Nao   Nenhum    Italiano    Nao
3          Sim     Nao    Cheio  Hamburguer    Nao
4          Sim     Sim    Cheio     Frances    Nao
5          Nao     Nao   Nenhum   Tailandes    Nao
6          Sim     Sim   Alguns     Frances    Sim
7          Nao     Nao   Alguns  Hamburguer    Sim
8          Sim     Sim    Cheio   Tailandes    Sim
9          Nao     Sim   Alguns    Italiano    Sim
10         Nao     Sim   Alguns   Tailandes    Sim
11         Sim     Sim    Cheio    Italiano    Sim

In [36]:
B, C = df[::2], df[1::2]

In [40]:
# Import LabelEncoder
from sklearn import preprocessing
#creating labelEncoder
le = preprocessing.LabelEncoder()
# Converting string labels into numbers.
y_train=le.fit_transform(B.Espera)
y_test=le.fit_transform(C.Espera)
print(y_train)

[0 0 0 1 1 1]

In [38]:
k1=le.fit_transform(B.SextaSabado)
k2=le.fit_transform(B.Faminto)
k3=le.fit_transform(B.Clientes)
k4=le.fit_transform(B.Tipo)

x_train=list(zip(k1,k2,k3,k4))
x_train

[(0, 1, 1, 2),
 (0, 0, 2, 1),
 (1, 1, 1, 0),
 (1, 1, 0, 0),
 (1, 1, 1, 2),
 (0, 1, 0, 2)]

In [39]:
k1=le.fit_transform(C.SextaSabado)
k2=le.fit_transform(C.Faminto)
k3=le.fit_transform(C.Clientes)
k4=le.fit_transform(C.Tipo)

x_test=list(zip(k1,k2,k3,k4))
x_test

[(1, 0, 1, 0),
 (1, 0, 1, 1),
 (0, 0, 2, 3),
 (0, 0, 0, 1),
 (0, 1, 0, 2),
 (1, 1, 1, 2)]

In [35]:
from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier(n_neighbors=3)

# Train the model using the training sets
model.fit(features,label)

#Predict Output
predicted= model.predict([[1,1,0,2]]) # 0:Overcast, 2:Mild
print(predicted)

[1]

In [42]:
#Import knearest neighbors Classifier model
from sklearn.neighbors import KNeighborsClassifier

#Create KNN Classifier
knn = KNeighborsClassifier(n_neighbors=5)

#Train the model using the training sets
knn.fit(x_train, y_train)

#Predict the response for test dataset
y_pred = knn.predict(x_test)

In [48]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
print(metrics.accuracy_score(y_test, y_pred))

0.8333333333333334

In [49]:
print(y_test, y_pred)

[0 0 0 1 1 1] [0 0 0 1 1 0]